@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Sansita Swashed', cursive;
}

body h1 {
  font-size: 40px;
  color: red;
}

body h3 {
  text-decoration: underline;
  font-size: 30px;
}

body h4 {
  font-size: 20px;
}

body button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: red;
  font-family: 'Sansita Swashed', cursive;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper #welcome {
  font-size: 40px;
}

body .wrapper .header {
  background-color: white;
  border-bottom: solid black 5px;
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  width: 93%;
}

body .wrapper .header a {
  text-decoration: none;
}

body .wrapper .loggin {
  display: none;
  width: auto;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .loggin a {
  color: red;
}

body .wrapper .loggin .loggininput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
}

body .wrapper .loggin .loggininput input {
  margin-bottom: 30px;
}

body .wrapper .registerView {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

body .wrapper .registerView h2 {
  font-size: 40px;
  text-decoration: underline;
}

body .wrapper .registerView input {
  margin-bottom: 20px;
  height: 15px;
  border-radius: 5px;
}

body .wrapper .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

body .wrapper .main a {
  text-decoration: none;
  color: red;
}

body .wrapper .main .bookslists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper .main .bookslists div {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .main .allbooks, body .wrapper .main .allljudboks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrapper .main .allbooks li, body .wrapper .main .allljudboks li {
  border: solid black 4px;
  background-color: #cfcfcf;
  list-style-type: none;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  border-radius: 20px;
}

body .wrapper .main .allbooks li img, body .wrapper .main .allljudboks li img {
  border-radius: 15px;
  width: 50%;
  margin-right: 20px;
}

body .wrapper .main .allbooks li .bokinfo, body .wrapper .main .allljudboks li .bokinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  height: auto;
}

body .wrapper .main .allbooks li .bokinfo h4, body .wrapper .main .allljudboks li .bokinfo h4 {
  color: red;
  font-size: 25px;
  text-align: center;
}

body .wrapper .main .allbooks li .bokinfo .utlåning, body .wrapper .main .allljudboks li .bokinfo .utlåning {
  width: 100%;
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
  border-radius: 8px;
  font-size: 15px;
}

body .wrapper .main .allbooks li .bokinfo .utlåning p, body .wrapper .main .allljudboks li .bokinfo .utlåning p {
  margin: 5px;
}

body .wrapper .minasidorView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  height: auto;
}

body .wrapper .minasidorView h2 {
  font-size: 40px;
  text-decoration: underline;
}

body .wrapper .minasidorView .minSidaInfo {
  width: 50%;
}

body .wrapper .minasidorView .minSidaInfo h3 {
  font-size: 25px;
}

body .wrapper .minasidorView .infowrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .wrapper .minasidorView .infowrapper #användarbok {
  width: 80%;
}

body .wrapper .minasidorView .infowrapper #användarbok h3 {
  margin-left: 38px;
  font-size: 25px;
}

body .wrapper .minasidorView .infowrapper #användarbok #användarböcker, body .wrapper .minasidorView .infowrapper #användarbok #användarljudböcker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .minasidorView .infowrapper #användarbok #användarböcker li, body .wrapper .minasidorView .infowrapper #användarbok #användarljudböcker li {
  border: solid black 4px;
  background-color: #cfcfcf;
  border-radius: 20px;
  padding: 10px;
  list-style-type: none;
  width: 100%;
  margin-bottom: 50px;
}

body .wrapper .minasidorView .infowrapper #användarbok #användarböcker li img, body .wrapper .minasidorView .infowrapper #användarbok #användarljudböcker li img {
  width: 50%;
  border-radius: 20px;
}

body .wrapper .addWrapper {
  width: 30vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .addWrapper button {
  margin-top: 20px;
  width: 120px;
}

body .wrapper .addWrapper label {
  margin-top: 20px;
}

body .wrapper .addWrapper input {
  margin-top: 5px;
  width: 150px;
}
/*# sourceMappingURL=style.css.map */