@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper #welcome {
  font-size: 40px;
}

body .wrapper .header {
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  width: 92%;
  border-bottom: 1px solid black;
}

body .wrapper .header button {
  background-color: red;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
}

body .wrapper .header h1 {
  cursor: pointer;
}

body .wrapper .loggin {
  display: none;
  width: auto;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .loggin h2 {
  font-size: 40px;
  text-decoration: underline;
}

body .wrapper .loggin .loggininput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
}

body .wrapper .loggin .loggininput input {
  margin-bottom: 30px;
}

body .wrapper .registerView {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

body .wrapper .registerView h2 {
  font-size: 40px;
  text-decoration: underline;
}

body .wrapper .registerView input {
  margin-bottom: 20px;
  height: 15px;
  border-radius: 5px;
}

body .wrapper .registerView button {
  width: 50%;
  border-radius: 5px;
}

body .wrapper .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

body .wrapper .main h3 {
  font-size: 40px;
  text-decoration: underline;
}

body .wrapper .main .allbooks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrapper .main .allbooks li {
  list-style-type: none;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .wrapper .main .allbooks li .bokinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

body .wrapper .main .allbooks li .bokinfo .utlåning {
  background-color: #c1c1c1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  border-radius: 8px;
}

body .wrapper .main .allbooks li .bokinfo .utlåning p {
  margin: 5px;
}
/*# sourceMappingURL=style.css.map */